<h1>Add Question:</h1>

<%=form_for [@user, @question] do |f| %>
  <%= f.label :heading %>
  <%= f.text_field :heading %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit "Save" %>
<% end %>
