<h1>Add Question:</h1>
<hr>

<%=form_for [@user, @question] do |f| %>
  <%= f.label :heading %>
  <%= f.text_field :heading %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit "Add Question" %>
<% end %>

<hr>
<%= link_to "Back", root_path %>
