<h2>Question:</h2>
<h3>
  <%= @question.heading %>
</h3>

<p class='well'>
  <%= @question.content %><br><%= link_to "Edit", edit_user_question_path(@user, @question) %>
</p>

<h1>Add Answer:</h1>

<%=form_for Answer.new do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit "Add Answer" %>
<% end %>
