<h2>Question:</h2>
<h3>
  <%= @question.heading %>
</h3>

<p class='well'>
  <%= @question.content %><br><%= link_to "Edit", edit_user_question_path(@user, @question) %>
</p>

<% @question.answers.each do |answer| %>

  <p class="well">
    <%= answer.content %>
  </p>

<% end %>

<h1><%= link_to 'Add Answer', new_question_answer_path(@question) %> </h1>
